@import './menu.styl'

.header 
 border: 1px solid red
 background: white
 position: fixed
 left 0
 right 0
 padding 2em 0

 &-content
      display:flex
      justify-content: space-between
      align-items: center